In [1]:
import csv
import json
import numpy as np
import pandas as pd
import re
import urllib.request
from bs4 import BeautifulSoup
from datetime import date

In [2]:
class FinancialsDownloader(object):
    u"""Downloads financials from http://financials.morningstar.com/
    """

    def __init__(self, table_prefix = u'morningstar_'):
        u"""Constructs the FinancialsDownloader instance.

        :param table_prefix: Prefix of the MySQL tables.
        """
        self._table_prefix = table_prefix

    def download(self, ticker, conn = None):
        u"""Downloads and returns a dictionary containing pandas.DataFrames
        representing the financials (i.e. income statement, balance sheet,
        cash flow) for the given Morningstar ticker. If the MySQL connection
        is specified then the downloaded financials are uploaded to the MySQL
        database.

        :param ticker: Morningstar ticker.
        :param conn: MySQL connection.
        :return Dictionary containing pandas.DataFrames representing the
        financials for the given Morningstar ticker.
        """
        result = {}

        ##########################
        # Error Handling
        ##########################

        # Empty String
        if len(ticker) == 0:
            raise ValueError("You did not enter a ticker symbol.  Please"
                             " try again.")

        for report_type, table_name in [
                (u'is', u'income_statement'),
                (u'bs', u'balance_sheet'),
                (u'cf', u'cash_flow')]:
            frame = self._download(ticker, report_type)
            result[table_name] = frame
            if conn:
                self._upload_frame(
                    frame, ticker, self._table_prefix + table_name, conn)
        if conn:
            self._upload_unit(ticker, self._table_prefix + u'unit', conn)
        result[u'period_range'] = self._period_range
        result[u'fiscal_year_end'] = self._fiscal_year_end
        result[u'currency'] = self._currency
        return result

    def _download(self, ticker, report_type):
        u"""Downloads and returns a pandas.DataFrame corresponding to the
        given Morningstar ticker and the given type of the report.

        :param ticker: Morningstar ticker.
        :param report_type: Type of the report ('is', 'bs', 'cf').
        :return  pandas.DataFrame corresponding to the given Morningstar ticker
        and the given type of the report.
        """
        url = (r'http://financials.morningstar.com/ajax/' +
               r'ReportProcess4HtmlAjax.html?&t=' + ticker +
               r'&region=usa&culture=en-US&cur=USD' +
               r'&reportType=' + report_type + r'&period=12' +
               r'&dataType=A&order=asc&columnYear=5&rounding=3&view=raw')
        with urllib.request.urlopen(url) as response:
            json_text = response.read().decode(u'utf-8')

            ##############################
            # Error Handling
            ##############################

            # Wrong ticker
            if len(json_text)==0:
                raise ValueError("MorningStar cannot find the ticker symbol "
                                 "you entered or it is INVALID. Please try "
                                 "again.")

            json_data = json.loads(json_text)
            result_soup = BeautifulSoup(json_data[u'result'],u'html.parser')
            return self._parse(result_soup)

    def _parse(self, soup):
        u"""Extracts and returns a pandas.DataFrame corresponding to the
        given parsed HTML response from financials.morningstar.com.

        :param soup: Parsed HTML response by BeautifulSoup.
        :return pandas.DataFrame corresponding to the given parsed HTML response
        from financials.morningstar.com.
        """
        # Left node contains the labels.
        left = soup.find(u'div', u'left').div
        # Main node contains the (raw) data.
        main = soup.find(u'div', u'main').find(u'div', u'rf_table')
        year = main.find(u'div', {u'id': u'Year'})
        self._year_ids = [node.attrs[u'id'] for node in year]
        period_month = pd.datetime.strptime(year.div.text, u'%Y-%m').month
        self._period_range = pd.period_range(
            year.div.text, periods=len(self._year_ids),
            # freq=pd.datetools.YearEnd(month=period_month))
            freq = pd.tseries.offsets.YearEnd(month=period_month))
        unit = left.find(u'div', {u'id': u'unitsAndFiscalYear'})
        self._fiscal_year_end = int(unit.attrs[u'fyenumber'])
        self._currency = unit.attrs[u'currency']
        self._data = []
        self._label_index = 0
        self._read_labels(left)
        self._data_index = 0
        self._read_data(main)
        return pd.DataFrame(self._data,
                            columns=[u'parent_index', u'title'] + list(
                                self._period_range))

    def _read_labels(self, root_node, parent_label_index = None):
        u"""Recursively reads labels from the parsed HTML response.
        """
        for node in root_node:
            if node.has_attr(u'class') and u'r_content' in node.attrs[u'class']:
                self._read_labels(node, self._label_index - 1)
            if (node.has_attr(u'id') and
                    node.attrs[u'id'].startswith(u'label') and
                    not node.attrs[u'id'].endswith(u'padding') and
                    (not node.has_attr(u'style') or
                        u'display:none' not in node.attrs[u'style'])):
                label_id = node.attrs[u'id'][6:]
                label_title = (node.div.attrs[u'title']
                               if node.div.has_attr(u'title')
                               else node.div.text)
                self._data.append({
                    u'id': label_id,
                    u'index': self._label_index,
                    u'parent_index': (parent_label_index
                                     if parent_label_index is not None
                                     else self._label_index),
                    u'title': label_title})
                self._label_index += 1

    def _read_data(self, root_node):
        u"""Recursively reads data from the parsed HTML response.
        """
        for node in root_node:
            if node.has_attr(u'class') and u'r_content' in node.attrs[u'class']:
                self._read_data(node)
            if (node.has_attr(u'id') and
                    node.attrs[u'id'].startswith(u'data') and
                    not node.attrs[u'id'].endswith(u'padding') and
                    (not node.has_attr(u'style') or
                        u'display:none' not in node.attrs[u'style'])):
                data_id = node.attrs[u'id'][5:]
                while (self._data_index < len(self._data) and
                       self._data[self._data_index][u'id'] != data_id):
                    # In some cases we do not have data for all labels.
                    self._data_index += 1
                assert(self._data_index < len(self._data) and
                       self._data[self._data_index][u'id'] == data_id)
                for (i, child) in enumerate(node.children):
                    try:
                        value = float(child.attrs[u'rawvalue'])
                    except ValueError:
                        value = None
                    self._data[self._data_index][
                        self._period_range[i]] = value
                self._data_index += 1

    def _upload_frame(self, frame, ticker, table_name,
                      conn):
        u"""Uploads the given pandas.DataFrame to the MySQL database.

        :param frame: pandas.DataFrames to be uploaded.
        :param ticker: Morningstar ticker.
        :param table_name: Name of the MySQL table.
        :param conn: MySQL connection.
        """
        if not _db_table_exists(table_name, conn):
            _db_execute(self._get_db_create_table(table_name), conn)
        _db_execute(self._get_db_replace_values(
            ticker, frame, table_name), conn)

    def _upload_unit(self, ticker, table_name,
                     conn):
        u"""Uploads the fiscal_year_end and the currency to the MySQL database.

        :param ticker: Morningstar ticker.
        :param table_name: Name of the MySQL table.
        :param conn: MySQL connection.
        """
        if not _db_table_exists(table_name, conn):
            _db_execute(
                u'CREATE TABLE `%s` (\n' % table_name +
                u'  `ticker` varchar(50) NOT NULL\n' +
                u'    COMMENT "Exchange:Ticker",\n' +
                u'  `fiscal_year_end` int(10) unsigned NOT NULL\n' +
                u'    COMMENT  "Fiscal Year End Month",\n' +
                u'  `currency` varchar(50) NOT NULL\n' +
                u'    COMMENT "Currency",\n' +
                u'  PRIMARY KEY USING BTREE (`ticker`))\n' +
                u'ENGINE=MyISAM DEFAULT CHARSET=utf8', conn)
        _db_execute(
            u'REPLACE INTO `%s`\n' % table_name +
            u'  (`ticker`, `fiscal_year_end`, `currency`)\nVALUES\n' +
            u'("%s", %d, "%s")' % (
                ticker, self._fiscal_year_end, self._currency), conn)

    @staticmethod
    def _get_db_create_table(table_name):
        u"""Returns the MySQL CREATE TABLE statement for the given table_name.

        :param table_name: Name of the MySQL table.
        :return MySQL CREATE TABLE statement.
        """
        year = date.today().year
        year_range = xrange(year - 6, year + 2)
        columns = u',\n'.join(
            [u'  `year_%d` DECIMAL(20,5) DEFAULT NULL ' % year +
             u'COMMENT "Year %d"' % year
             for year in year_range])
        return (
            u'CREATE TABLE `%s` (\n' % table_name +
            u'  `ticker` VARCHAR(50) NOT NULL COMMENT "Exchange:Ticker",\n' +
            u'  `id` int(10) unsigned NOT NULL COMMENT "Id",\n' +
            u'  `parent_id` int(10) unsigned NOT NULL COMMENT "Parent Id",\n' +
            u'  `item` varchar(500) NOT NULL COMMENT "Item",\n' +
            u'%s,\n' % columns +
            u'  PRIMARY KEY USING BTREE (`ticker`, `id`),\n' +
            u'  KEY `ix_ticker` USING BTREE (`ticker`))\n' +
            u'ENGINE=MyISAM DEFAULT CHARSET=utf8')

    @staticmethod
    def _get_db_replace_values(ticker, frame,
                               table_name):
        u"""Returns the MySQL REPLACE INTO statement for the given
        Morningstar ticker and the corresponding pandas.DataFrame.

        :param ticker: Morningstar ticker.
        :param frame: pandas.DataFrame.
        :param table_name: Name of the MySQL table.
        :return MySQL REPLACE INTO statement.
        """
        columns = [u'`ticker`', u'`id`, `parent_id`, `item`'] + \
                  [u'`year_%d`' % period.year for period in
                   frame.columns[2:]]
        return (
            u'REPLACE INTO `%s`\n' % table_name +
            u'  (%s)\nVALUES\n' % u', '.join(columns) +
            u',\n'.join([u'("' + ticker + u'", %d, %d, "%s", ' %
                        (index, frame.ix[index, u'parent_index'],
                         frame.ix[index, u'title']) +
                        u', '.join(
                            [u'NULL' if np.isnan(frame.ix[index, period])
                             else u'%.5f' % frame.ix[index, period]
                             for period in frame.columns[2:]]) + u')'
                        for index in frame.index]))

In [3]:
def _db_table_exists(table_name, conn):
    u"""Helper method for checking whether the given MySQL table exists.

    :param table_name: Name of the MySQL table to be checked.
    :param conn: MySQL connection.
    :return True iff the given MySQL table exists.
    """
    cursor = conn.cursor()
    cursor.execute(u"""
        SELECT COUNT(*)
        FROM information_schema.tables
        WHERE table_name = '{0}'""".format(table_name))
    table_exists = cursor.fetchone()[0] == 1
    cursor.close()
    return table_exists


def _db_execute(query, conn):
    u"""Helper method for executing the given MySQL non-query.

    :param query: MySQL query to be executed.
    :param conn: MySQL connection.
    """
    cursor = conn.cursor()
    cursor.execute(query)
    cursor.close()

In [4]:
fd=FinancialsDownloader()

In [5]:
fd.download('XSES:CH8')

{'balance_sheet':     parent_index                                       title          2012  \
 0              0                                      Assets  1.126049e+09
 1              0                              Current assets  7.006020e+08
 2              1                                        Cash  1.153030e+08
 3              2                   Cash and cash equivalents  1.049560e+08
 4              2                      Short-term investments  1.034700e+07
 5              2                                  Total cash  1.153030e+08
 6              1                                 Receivables  2.546930e+08
 7              1                                 Inventories  1.423640e+08
 8              1                            Prepaid expenses  2.040000e+05
 9              1                        Other current assets  1.880380e+08
 10             1                        Total current assets  7.006020e+08
 11             0                          Non-current assets  4.254470e+08
 12            11               Property, plant and equipment  3.992800e+08
 13            12         Gross property, plant and equipment  5.595660e+08
 14            12                    Accumulated Depreciation -1.602860e+08
 15            12           Net property, plant and equipment  3.992800e+08
 16            11                           Intangible assets  2.616700e+07
 17            11                    Total non-current assets  4.254470e+08
 18             0                                Total assets  1.126049e+09
 19            19        Liabilities and stockholders' equity  1.126049e+09
 20            19                                 Liabilities  3.650100e+08
 21            20                         Current liabilities  3.650100e+08
 22            21                             Short-term debt  2.000000e+08
 23            21                            Accounts payable  4.647600e+07
 24            21                               Taxes payable  2.853600e+07
 25            21                   Other current liabilities  8.999800e+07
 26            21                   Total current liabilities  3.650100e+08
 27            20                     Non-current liabilities  0.000000e+00
 28            27                              Long-term debt           NaN
 29            27               Total non-current liabilities  0.000000e+00
 30            20                           Total liabilities  3.650100e+08
 31            19                        Stockholders' equity  7.610390e+08
 32            31                                Common stock  3.134710e+08
 33            31                           Retained earnings  3.640480e+08
 34            31                              Treasury stock -2.819700e+07
 35            31      Accumulated other comprehensive income  1.117170e+08
 36            31                  Total stockholders' equity  7.610390e+08
 37            19  Total liabilities and stockholders' equity  1.126049e+09

             2013          2014          2015          2016
 0   1.286845e+09  1.638122e+09  1.585932e+09  1.642481e+09
 1   7.909480e+08  9.955110e+08  9.794870e+08  1.050552e+09
 2   1.078330e+08  1.227900e+08  3.412520e+08  2.758970e+08
 3   1.078330e+08  1.227900e+08  3.412520e+08  2.758970e+08
 4   0.000000e+00           NaN           NaN           NaN
 5   1.078330e+08  1.227900e+08  3.412520e+08  2.758970e+08
 6   5.394090e+08  3.730150e+08  3.412490e+08  3.973460e+08
 7   1.435110e+08  1.680300e+08  1.415090e+08  1.454140e+08
 8   1.950000e+05  9.370000e+05  2.829100e+07  5.125500e+07
 9   0.000000e+00  3.307390e+08  1.271860e+08  1.806400e+08
 10  7.909480e+08  9.955110e+08  9.794870e+08  1.050552e+09
 11  4.958970e+08  6.426110e+08  6.064450e+08  5.919290e+08
 12  4.702570e+08  6.131040e+08  5.627810e+08  5.494260e+08
 13  7.050970e+08  9.333330e+08  9.763610e+08  1.055035e+09
 14 -2.348400e+08 -3.202290e+08 -4.135800e+08 -5.056090e+08
 15  4.702570e+08  6.131040e+08  5.627810e+08  5.494260e+08
 16  2.564000e+07  2.950700e+07  4.366400e+07  4.250300e+07
 17  4.958970e+08  6.426110e+08  6.064450e+08  5.919290e+08
 18  1.286845e+09  1.638122e+09  1.585932e+09  1.642481e+09
 19  1.286845e+09  1.638122e+09  1.585932e+09  1.642481e+09
 20  4.734260e+08  6.268690e+08  3.965650e+08  2.808710e+08
 21  4.734260e+08  5.828690e+08  3.965650e+08  2.808710e+08
 22  2.300000e+08  2.140000e+08  1.448720e+08  0.000000e+00
 23  6.315500e+07  4.782800e+07  4.303200e+07           NaN
 24  3.859200e+07  5.728300e+07  4.135500e+07  5.821100e+07
 25  1.416790e+08  2.637580e+08  1.673060e+08  2.226600e+08
 26  4.734260e+08  5.828690e+08  3.965650e+08  2.808710e+08
 27  0.000000e+00  4.400000e+07  0.000000e+00  0.000000e+00
 28           NaN  4.400000e+07  0.000000e+00  0.000000e+00
 29  0.000000e+00  4.400000e+07  0.000000e+00  0.000000e+00
 30  4.734260e+08  6.268690e+08  3.965650e+08  2.808710e+08
 31  8.134190e+08  1.011253e+09  1.189367e+09  1.361610e+09
 32  3.134710e+08  3.134710e+08  3.134710e+08  3.134710e+08
 33  3.932220e+08  5.420720e+08  6.776660e+08  8.080470e+08
 34 -2.819700e+07 -2.819700e+07 -2.819700e+07 -3.135000e+07
 35  1.349230e+08  1.839070e+08  2.264270e+08  2.714420e+08
 36  8.134190e+08  1.011253e+09  1.189367e+09  1.361610e+09
 37  1.286845e+09  1.638122e+09  1.585932e+09  1.642481e+09  ,
 'cash_flow':     parent_index                                              title  \
 0              0               Cash Flows From Operating Activities
 1              0                                         Net income
 2              0                        Depreciation & amortization
 3              0                         Investments losses (gains)
 4              0                          Change in working capital
 5              0                                          Inventory
 6              0                              Other working capital
 7              0                               Other non-cash items
 8              0          Net cash provided by operating activities
 9              9               Cash Flows From Investing Activities
 10             9      Investments in property, plant, and equipment
 11             9          Property, plant, and equipment reductions
 12             9                                  Acquisitions, net
 13             9                    Sales/Maturities of investments
 14             9                           Purchases of intangibles
 15             9                         Other investing activities
 16             9             Net cash used for investing activities
 17            17               Cash Flows From Financing Activities
 18            17                                        Debt issued
 19            17                                     Debt repayment
 20            17                           Common stock repurchased
 21            17                                      Dividend paid
 22            17                         Other financing activities
 23            17  Net cash provided by (used for) financing acti...
 24            24                    Effect of exchange rate changes
 25            25                                 Net change in cash
 26            26                        Cash at beginning of period
 27            27                              Cash at end of period
 28            28                                     Free Cash Flow
 29            29                                Operating cash flow
 30            30                                Capital expenditure
 31            31                                     Free cash flow

            2012         2013         2014         2015         2016  \
 0     9950000.0  163532000.0  261267000.0  430115000.0  202856000.0
 1    32007000.0   76740000.0  220220000.0  209221000.0  221706000.0
 2    63343000.0   75344000.0   87344000.0   93962000.0   95982000.0
 3     -614000.0     -26000.0          0.0          NaN          NaN
 4  -117471000.0   -7628000.0  -74244000.0  133238000.0 -124098000.0
 5     5511000.0   -1147000.0  -24519000.0   26521000.0   -3905000.0
 6  -122982000.0   -6481000.0  -49725000.0  106717000.0 -120193000.0
 7    32685000.0   19102000.0   27947000.0   -6306000.0    9266000.0
 8     9950000.0  163532000.0  261267000.0  430115000.0  202856000.0
 9   -37786000.0 -135794000.0 -232899000.0  -49461000.0  -79573000.0
 10  -43821000.0 -146764000.0 -229750000.0  -30413000.0  -82587000.0
 11          NaN      47000.0     178000.0          NaN     598000.0
 12          NaN          NaN          NaN  -20000000.0          0.0
 13    4901000.0    9769000.0          0.0          NaN          NaN
 14     -36000.0          0.0   -4415000.0    -257000.0          0.0
 15    1170000.0    1154000.0    1088000.0    1209000.0    2416000.0
 16  -37786000.0 -135794000.0 -232899000.0  -49461000.0  -79573000.0
 17   14739000.0    6724000.0  -23086000.0 -151871000.0 -188637000.0
 18  350000000.0  275000000.0  308900000.0  187770000.0   20000000.0
 19 -290000000.0 -245000000.0 -280900000.0 -308000000.0 -167997000.0
 20  -13662000.0          0.0          NaN          NaN   -3153000.0
 21  -23137000.0  -23137000.0  -22912000.0  -31475000.0  -33172000.0
 22   -8462000.0    -139000.0  -28174000.0    -166000.0   -4315000.0
 23   14739000.0    6724000.0  -23086000.0 -151871000.0 -188637000.0
 24     285000.0    -378000.0    -425000.0     -51000.0      49000.0
 25  -12812000.0   34084000.0    4857000.0  228732000.0  -65305000.0
 26   84661000.0   71849000.0  105933000.0  110790000.0  339522000.0
 27   71849000.0  105933000.0  110790000.0  339522000.0  274217000.0
 28          NaN          NaN          NaN          NaN          NaN
 29    9950000.0  163532000.0  261267000.0  430115000.0  202856000.0
 30  -43857000.0 -146764000.0 -234165000.0  -30670000.0  -82587000.0
 31  -33907000.0   16768000.0   27102000.0  399445000.0  120269000.0

            2017
 0   345456000.0
 1   292206000.0
 2    93682000.0
 3           NaN
 4   -45098000.0
 5   -28505000.0
 6   -16593000.0
 7     4666000.0
 8   345456000.0
 9  -177773000.0
 10 -181687000.0
 11     298000.0
 12          NaN
 13          NaN
 14          NaN
 15    3616000.0
 16 -177773000.0
 17  -11637000.0
 18   53500000.0
 19 -108197000.0
 20   -2253000.0
 21  -46472000.0
 22   91785000.0
 23  -11637000.0
 24          NaN
 25  156046000.0
 26  310800000.0
 27  466846000.0
 28          NaN
 29  345456000.0
 30 -181687000.0
 31  163769000.0  ,
 'currency': 'CNY',
 'fiscal_year_end': 12,
 'income_statement':     parent_index                                        title          2012  \
 0              0                                      Revenue  1.417282e+09
 1              1                              Cost of revenue  1.173408e+09
 2              2                                 Gross profit  2.438740e+08
 3              3                           Operating expenses  1.835750e+08
 4              3            Sales, General and administrative  1.835750e+08
 5              3                     Total operating expenses  1.835750e+08
 6              6                             Operating income  6.029900e+07
 7              7                             Interest Expense  1.246200e+07
 8              8                       Other income (expense)  8.899000e+06
 9              9                          Income before taxes  5.673600e+07
 10            10                   Provision for income taxes  2.472900e+07
 11            11        Net income from continuing operations  3.200700e+07
 12            12                                   Net income  3.200700e+07
 13            13  Net income available to common shareholders  3.200700e+07
 14            14                           Earnings per share           NaN
 15            15                                        Basic  6.850000e-02
 16            16                                      Diluted  6.850000e-02
 17            17          Weighted average shares outstanding           NaN
 18            18                                        Basic  4.672820e+08
 19            19                                      Diluted  4.672820e+08
 20            20                                       EBITDA  1.325410e+08

             2013          2014          2015          2016          2017
 0   1.695940e+09  2.077272e+09  1.859127e+09  2.036862e+09  2.418462e+09
 1   1.387910e+09  1.509882e+09  1.367111e+09  1.496458e+09  1.777758e+09
 2   3.080300e+08  5.673900e+08  4.920160e+08  5.404040e+08  6.407040e+08
 3   1.865150e+08  2.537540e+08  2.327730e+08  2.452320e+08  2.642320e+08
 4   1.865150e+08  2.537540e+08  2.327730e+08  2.452320e+08  2.642320e+08
 5   1.865150e+08  2.537540e+08  2.327730e+08  2.452320e+08  2.642320e+08
 6   1.215150e+08  3.136360e+08  2.592430e+08  2.951720e+08  3.764720e+08
 7   1.463900e+07  1.807400e+07  1.043600e+07  4.365000e+06  3.650000e+05
 8   1.103900e+07  6.908000e+06  3.864800e+07  1.867200e+07  3.872000e+06
 9   1.179150e+08  3.024700e+08  2.874550e+08  3.094790e+08  3.799790e+08
 10  4.117500e+07  8.225000e+07  7.823400e+07  8.777300e+07  1.043730e+08
 11  7.674000e+07  2.202200e+08  2.092210e+08  2.217060e+08  2.756060e+08
 12  7.674000e+07  2.202200e+08  2.092210e+08  2.217060e+08  2.756060e+08
 13  7.674000e+07  2.202200e+08  2.092210e+08  2.217060e+08  2.756060e+08
 14           NaN           NaN           NaN           NaN           NaN
 15  1.649000e-01  4.731000e-01  4.495000e-01  4.766000e-01  5.801000e-01
 16  1.649000e-01  4.731000e-01  4.495000e-01  4.766000e-01  5.801000e-01
 17           NaN           NaN           NaN           NaN           NaN
 18  4.655040e+08  4.655040e+08  4.655040e+08  4.651450e+08  4.751508e+08
 19  4.655040e+08  4.655040e+08  4.655040e+08  4.651450e+08  4.916940e+08
 20  2.078980e+08  4.078880e+08  3.918530e+08  4.098260e+08  4.740260e+08  ,
 'period_range': PeriodIndex(['2012', '2013', '2014', '2015', '2016', '2017'], dtype='period[A-DEC]', freq='A-DEC')}

In [ ]:
fd._parse

Test downloads function:

In [8]:
import csv
import json
import numpy as np
import pandas as pd
import re
import urllib.request
from bs4 import BeautifulSoup
from datetime import date

In [13]:
def test_download(ticker):
    report_type = 'is'
    url = (r'http://financials.morningstar.com/ajax/' +
               r'ReportProcess4HtmlAjax.html?&t=' + ticker +
               r'&region=usa&culture=en-US&cur=USD' +
               r'&reportType=' + report_type + r'&period=12' +
               r'&dataType=A&order=asc&columnYear=5&rounding=3&view=raw')
    with urllib.request.urlopen(url) as response:
        json_text = response.read().decode(u'utf-8')

        ##############################
        # Error Handling
        ##############################

        # Wrong ticker
        if len(json_text)==0:
            raise ValueError("MorningStar cannot find the ticker symbol "
                                 "you entered or it is INVALID. Please try "
                                 "again.")

        json_data = json.loads(json_text)
        result_soup = BeautifulSoup(json_data[u'result'],u'html.parser')
        return parse(result_soup)
    
def parse(soup):
    u"""Extracts and returns a pandas.DataFrame corresponding to the
    given parsed HTML response from financials.morningstar.com.

    param soup: Parsed HTML response by BeautifulSoup.
    :return pandas.DataFrame corresponding to the given parsed HTML response
    from financials.morningstar.com.
    """
    # Left node contains the labels.
    left = soup.find(u'div', u'left').div
    # Main node contains the (raw) data.
    main = soup.find(u'div', u'main').find(u'div', u'rf_table')
    year = main.find(u'div', {u'id': u'Year'})
    year_ids = [node.attrs[u'id'] for node in year]
    period_month = pd.datetime.strptime(year.div.text, u'%Y-%m').month
    period_range = pd.period_range(
            year.div.text, periods=len(year_ids),
        # freq=pd.datetools.YearEnd(month=period_month))
        freq = pd.tseries.offsets.YearEnd(month=period_month))
    unit = left.find(u'div', {u'id': u'unitsAndFiscalYear'})
    fiscal_year_end = int(unit.attrs[u'fyenumber'])
    currency = unit.attrs[u'currency']
    data = []
    label_index = 0
    read_labels(left)
    data_index = 0
    read_data(main)
    return pd.DataFrame(data,
                            columns=[u'parent_index', u'title'] + list(
                                self._period_range))

In [14]:
test1 = test_download('XSES:CH8',)

NameError: name 'read_labels' is not defined