In [1]:
import csv
import json
import numpy as np
import pandas as pd
import re
import urllib.request
from bs4 import BeautifulSoup
from datetime import date
import seaborn as sns

In [2]:
class FinancialsDownloader(object):
    u"""Downloads financials from http://financials.morningstar.com/
    """

    def __init__(self, table_prefix = u'morningstar_'):
        u"""Constructs the FinancialsDownloader instance.

        :param table_prefix: Prefix of the MySQL tables.
        """
        self._table_prefix = table_prefix

    def download(self, ticker, conn = None):
        u"""Downloads and returns a dictionary containing pandas.DataFrames
        representing the financials (i.e. income statement, balance sheet,
        cash flow) for the given Morningstar ticker. If the MySQL connection
        is specified then the downloaded financials are uploaded to the MySQL
        database.

        :param ticker: Morningstar ticker.
        :param conn: MySQL connection.
        :return Dictionary containing pandas.DataFrames representing the
        financials for the given Morningstar ticker.
        """
        result = {}

        ##########################
        # Error Handling
        ##########################

        # Empty String
        if len(ticker) == 0:
            raise ValueError("You did not enter a ticker symbol.  Please"
                             " try again.")

        for report_type, table_name in [
                (u'is', u'income_statement'),
                (u'bs', u'balance_sheet'),
                (u'cf', u'cash_flow')]:
            frame = self._download(ticker, report_type)
            result[table_name] = frame
            if conn:
                self._upload_frame(
                    frame, ticker, self._table_prefix + table_name, conn)
        if conn:
            self._upload_unit(ticker, self._table_prefix + u'unit', conn)
        result[u'period_range'] = self._period_range
        result[u'fiscal_year_end'] = self._fiscal_year_end
        result[u'currency'] = self._currency
        return result

    def _download(self, ticker, report_type):
        u"""Downloads and returns a pandas.DataFrame corresponding to the
        given Morningstar ticker and the given type of the report.

        :param ticker: Morningstar ticker.
        :param report_type: Type of the report ('is', 'bs', 'cf').
        :return  pandas.DataFrame corresponding to the given Morningstar ticker
        and the given type of the report.
        """
        url = (r'http://financials.morningstar.com/ajax/' +
               r'ReportProcess4HtmlAjax.html?&t=' + ticker +
               r'&region=usa&culture=en-US&cur=USD' +
               r'&reportType=' + report_type + r'&period=12' +
               r'&dataType=A&order=asc&columnYear=5&rounding=3&view=raw')
        with urllib.request.urlopen(url) as response:
            json_text = response.read().decode(u'utf-8')

            ##############################
            # Error Handling
            ##############################

            # Wrong ticker
            if len(json_text)==0:
                raise ValueError("MorningStar cannot find the ticker symbol "
                                 "you entered or it is INVALID. Please try "
                                 "again.")

            json_data = json.loads(json_text)
            result_soup = BeautifulSoup(json_data[u'result'],u'html.parser')
            return self._parse(result_soup)

    def _parse(self, soup):
        u"""Extracts and returns a pandas.DataFrame corresponding to the
        given parsed HTML response from financials.morningstar.com.

        :param soup: Parsed HTML response by BeautifulSoup.
        :return pandas.DataFrame corresponding to the given parsed HTML response
        from financials.morningstar.com.
        """
        # Left node contains the labels.
        left = soup.find(u'div', u'left').div
        # Main node contains the (raw) data.
        main = soup.find(u'div', u'main').find(u'div', u'rf_table')
        year = main.find(u'div', {u'id': u'Year'})
        self._year_ids = [node.attrs[u'id'] for node in year]
        period_month = pd.datetime.strptime(year.div.text, u'%Y-%m').month
        self._period_range = pd.period_range(
            year.div.text, periods=len(self._year_ids),
            # freq=pd.datetools.YearEnd(month=period_month))
            freq = pd.tseries.offsets.YearEnd(month=period_month))
        unit = left.find(u'div', {u'id': u'unitsAndFiscalYear'})
        self._fiscal_year_end = int(unit.attrs[u'fyenumber'])
        self._currency = unit.attrs[u'currency']
        self._data = []
        self._label_index = 0
        self._read_labels(left)
        self._data_index = 0
        self._read_data(main)
        return pd.DataFrame(self._data,
                            columns=[u'parent_index', u'title'] + list(
                                self._period_range))

    def _read_labels(self, root_node, parent_label_index = None):
        u"""Recursively reads labels from the parsed HTML response.
        """
        for node in root_node:
            if node.has_attr(u'class') and u'r_content' in node.attrs[u'class']:
                self._read_labels(node, self._label_index - 1)
            if (node.has_attr(u'id') and
                    node.attrs[u'id'].startswith(u'label') and
                    not node.attrs[u'id'].endswith(u'padding') and
                    (not node.has_attr(u'style') or
                        u'display:none' not in node.attrs[u'style'])):
                label_id = node.attrs[u'id'][6:]
                label_title = (node.div.attrs[u'title']
                               if node.div.has_attr(u'title')
                               else node.div.text)
                self._data.append({
                    u'id': label_id,
                    u'index': self._label_index,
                    u'parent_index': (parent_label_index
                                     if parent_label_index is not None
                                     else self._label_index),
                    u'title': label_title})
                self._label_index += 1

    def _read_data(self, root_node):
        u"""Recursively reads data from the parsed HTML response.
        """
        for node in root_node:
            if node.has_attr(u'class') and u'r_content' in node.attrs[u'class']:
                self._read_data(node)
            if (node.has_attr(u'id') and
                    node.attrs[u'id'].startswith(u'data') and
                    not node.attrs[u'id'].endswith(u'padding') and
                    (not node.has_attr(u'style') or
                        u'display:none' not in node.attrs[u'style'])):
                data_id = node.attrs[u'id'][5:]
                while (self._data_index < len(self._data) and
                       self._data[self._data_index][u'id'] != data_id):
                    # In some cases we do not have data for all labels.
                    self._data_index += 1
                assert(self._data_index < len(self._data) and
                       self._data[self._data_index][u'id'] == data_id)
                for (i, child) in enumerate(node.children):
                    try:
                        value = float(child.attrs[u'rawvalue'])
                    except ValueError:
                        value = None
                    self._data[self._data_index][
                        self._period_range[i]] = value
                self._data_index += 1

    def _upload_frame(self, frame, ticker, table_name,
                      conn):
        u"""Uploads the given pandas.DataFrame to the MySQL database.

        :param frame: pandas.DataFrames to be uploaded.
        :param ticker: Morningstar ticker.
        :param table_name: Name of the MySQL table.
        :param conn: MySQL connection.
        """
        if not _db_table_exists(table_name, conn):
            _db_execute(self._get_db_create_table(table_name), conn)
        _db_execute(self._get_db_replace_values(
            ticker, frame, table_name), conn)

    def _upload_unit(self, ticker, table_name,
                     conn):
        u"""Uploads the fiscal_year_end and the currency to the MySQL database.

        :param ticker: Morningstar ticker.
        :param table_name: Name of the MySQL table.
        :param conn: MySQL connection.
        """
        if not _db_table_exists(table_name, conn):
            _db_execute(
                u'CREATE TABLE `%s` (\n' % table_name +
                u'  `ticker` varchar(50) NOT NULL\n' +
                u'    COMMENT "Exchange:Ticker",\n' +
                u'  `fiscal_year_end` int(10) unsigned NOT NULL\n' +
                u'    COMMENT  "Fiscal Year End Month",\n' +
                u'  `currency` varchar(50) NOT NULL\n' +
                u'    COMMENT "Currency",\n' +
                u'  PRIMARY KEY USING BTREE (`ticker`))\n' +
                u'ENGINE=MyISAM DEFAULT CHARSET=utf8', conn)
        _db_execute(
            u'REPLACE INTO `%s`\n' % table_name +
            u'  (`ticker`, `fiscal_year_end`, `currency`)\nVALUES\n' +
            u'("%s", %d, "%s")' % (
                ticker, self._fiscal_year_end, self._currency), conn)

    @staticmethod
    def _get_db_create_table(table_name):
        u"""Returns the MySQL CREATE TABLE statement for the given table_name.

        :param table_name: Name of the MySQL table.
        :return MySQL CREATE TABLE statement.
        """
        year = date.today().year
        year_range = xrange(year - 6, year + 2)
        columns = u',\n'.join(
            [u'  `year_%d` DECIMAL(20,5) DEFAULT NULL ' % year +
             u'COMMENT "Year %d"' % year
             for year in year_range])
        return (
            u'CREATE TABLE `%s` (\n' % table_name +
            u'  `ticker` VARCHAR(50) NOT NULL COMMENT "Exchange:Ticker",\n' +
            u'  `id` int(10) unsigned NOT NULL COMMENT "Id",\n' +
            u'  `parent_id` int(10) unsigned NOT NULL COMMENT "Parent Id",\n' +
            u'  `item` varchar(500) NOT NULL COMMENT "Item",\n' +
            u'%s,\n' % columns +
            u'  PRIMARY KEY USING BTREE (`ticker`, `id`),\n' +
            u'  KEY `ix_ticker` USING BTREE (`ticker`))\n' +
            u'ENGINE=MyISAM DEFAULT CHARSET=utf8')

    @staticmethod
    def _get_db_replace_values(ticker, frame,
                               table_name):
        u"""Returns the MySQL REPLACE INTO statement for the given
        Morningstar ticker and the corresponding pandas.DataFrame.

        :param ticker: Morningstar ticker.
        :param frame: pandas.DataFrame.
        :param table_name: Name of the MySQL table.
        :return MySQL REPLACE INTO statement.
        """
        columns = [u'`ticker`', u'`id`, `parent_id`, `item`'] + \
                  [u'`year_%d`' % period.year for period in
                   frame.columns[2:]]
        return (
            u'REPLACE INTO `%s`\n' % table_name +
            u'  (%s)\nVALUES\n' % u', '.join(columns) +
            u',\n'.join([u'("' + ticker + u'", %d, %d, "%s", ' %
                        (index, frame.ix[index, u'parent_index'],
                         frame.ix[index, u'title']) +
                        u', '.join(
                            [u'NULL' if np.isnan(frame.ix[index, period])
                             else u'%.5f' % frame.ix[index, period]
                             for period in frame.columns[2:]]) + u')'
                        for index in frame.index]))

In [3]:
def _db_table_exists(table_name, conn):
    u"""Helper method for checking whether the given MySQL table exists.

    :param table_name: Name of the MySQL table to be checked.
    :param conn: MySQL connection.
    :return True iff the given MySQL table exists.
    """
    cursor = conn.cursor()
    cursor.execute(u"""
        SELECT COUNT(*)
        FROM information_schema.tables
        WHERE table_name = '{0}'""".format(table_name))
    table_exists = cursor.fetchone()[0] == 1
    cursor.close()
    return table_exists


def _db_execute(query, conn):
    u"""Helper method for executing the given MySQL non-query.

    :param query: MySQL query to be executed.
    :param conn: MySQL connection.
    """
    cursor = conn.cursor()
    cursor.execute(query)
    cursor.close()

In [4]:
fd=FinancialsDownloader()

In [65]:
fddic = fd.download('XSES:O5RU')

Store all reits stock quotes as list

In [122]:
# 'BMGU' has error
#REITs = ['O5RU','Q1P','A17U','A68U','BMGU','K2LU','C61U','C38U','AU8U','J85' ,
#          'BWCU','J91U','Q5T','AW9U','F25U','J69U','ND8U','ACV','BUOU','UD1U',
#          'AJBU','K71U','D5IU','BTOU','N2IU','RW0U','ME8U','M44U','TS0U','SK7',
#          'C2PU','M1GU','SV3U','SK6U','P40U','T82U','T8B']

REITs = ['O5RU','Q1P','A17U','A68U','K2LU','C61U','C38U','AU8U','J85',
        'BWCU','J91U','Q5T','AW9U','F25U','J69U','ND8U','ACV','BUOU','UD1U',
        'AJBU','K71U','D5IU','BTOU','N2IU','RW0U','ME8U','M44U','TS0U','SK7',
        'C2PU','M1GU','SV3U','SK6U','P40U','T82U','T8B']

Store as a dictionary {"Stock Quote","downloaded info"}

Downloaded info is also in a form of dict:

income_statement<br>
balance_sheet<br>
cash_flow<br>
period_range<br>
fiscal_year_end<br>
currency<br>

In [120]:
storage = dict([(i,fd.download('XSES:{}'.format(i))) for i in REITs])

In [125]:
for key, value in storage.get('SK7').items():
    print (key)

income_statement
balance_sheet
cash_flow
period_range
fiscal_year_end
currency

In [124]:
storage.get('SK7')

{'balance_sheet':     parent_index                                       title  2012  \
 0              0                                      Assets   NaN
 1              0                   Cash and cash equivalents   NaN
 2              0                           Intangible assets   NaN
 3              0                                Other assets   0.0
 4              0                                Total assets   NaN
 5              5        Liabilities and stockholders' equity   0.0
 6              5                                 Liabilities   NaN
 7              6                        Short-term borrowing   NaN
 8              6                              Long-term debt   NaN
 9              6                           Other liabilities   0.0
 10             6                           Total liabilities   NaN
 11             5                        Stockholders' equity   NaN
 12            11                                Common stock   NaN
 13            11                           Retained earnings   NaN
 14            11      Accumulated other comprehensive income   0.0
 15            11                  Total stockholders' equity   NaN
 16             5  Total liabilities and stockholders' equity   0.0

             2013          2014          2015          2016
 0   1.834211e+09  1.796570e+09  2.100870e+09  2.256358e+09
 1   6.082900e+07  3.129900e+07  3.136100e+07  2.854700e+07
 2            NaN           NaN           NaN  4.908000e+06
 3   1.773382e+09  1.765271e+09  2.069509e+09  2.222903e+09
 4   1.834211e+09  1.796570e+09  2.100870e+09  2.256358e+09
 5   1.834211e+09  1.796570e+09  2.100870e+09  2.256358e+09
 6   6.225850e+08  5.982330e+08  8.938810e+08  8.743900e+08
 7            NaN           NaN  2.924080e+08  0.000000e+00
 8   5.814310e+08  5.831110e+08  5.848210e+08  8.539950e+08
 9   4.115400e+07  1.512200e+07  1.665200e+07  2.039500e+07
 10  6.225850e+08  5.982330e+08  8.938810e+08  8.743900e+08
 11  1.211626e+09  1.198337e+09  1.206989e+09  1.381968e+09
 12           NaN           NaN  1.178110e+09           NaN
 13  8.046400e+07           NaN  4.505600e+07           NaN
 14  1.131162e+09  1.198337e+09 -1.617700e+07  1.381968e+09
 15  1.211626e+09  1.198337e+09  1.206989e+09  1.381968e+09
 16  1.834211e+09  1.796570e+09  2.100870e+09  2.256358e+09  ,
 'cash_flow':     parent_index                                              title  2012  \
 0              0               Cash Flows From Operating Activities   NaN
 1              0                         Investments losses (gains)   NaN
 2              0                              Other working capital   0.0
 3              0                               Other non-cash items   0.0
 4              0          Net cash provided by operating activities   NaN
 5              5               Cash Flows From Investing Activities   NaN
 6              5      Investments in property, plant, and equipment   NaN
 7              5                           Purchases of investments   NaN
 8              5                         Other investing activities   0.0
 9              5             Net cash used for investing activities   NaN
 10            10               Cash Flows From Financing Activities   NaN
 11            10                                        Debt issued   NaN
 12            10                                     Debt repayment   NaN
 13            10                                Common stock issued   NaN
 14            10                                Cash dividends paid   NaN
 15            10                         Other financing activities   0.0
 16            10  Net cash provided by (used for) financing acti...   NaN
 17            17                                 Net change in cash   0.0
 18            18                        Cash at beginning of period   NaN
 19            19                              Cash at end of period   0.0
 20            20                                     Free Cash Flow   NaN
 21            21                                Operating cash flow   NaN
 22            22                                Capital expenditure   NaN
 23            23                                     Free cash flow   NaN

             2013         2014         2015         2016         2017
 0   5.322300e+07   87870000.0  108405000.0   98893000.0  117013000.0
 1            NaN          NaN   10654000.0   10858000.0          NaN
 2   9.390000e+06  -13756000.0     762000.0   -4993000.0     937000.0
 3   4.383300e+07  101626000.0   96989000.0   93028000.0  116076000.0
 4   5.322300e+07   87870000.0  108405000.0   98893000.0  117013000.0
 5  -1.148526e+09    -122000.0 -292861000.0 -206356000.0   -2069000.0
 6            NaN    -147000.0   -2033000.0   -1535000.0   -2145000.0
 7            NaN          0.0 -290868000.0 -205070000.0          0.0
 8  -1.148526e+09      25000.0      40000.0     249000.0      76000.0
 9  -1.148526e+09    -122000.0 -292861000.0 -206356000.0   -2069000.0
 10  1.156132e+09 -117260000.0  184518000.0  104649000.0 -113447000.0
 11  5.870000e+08          0.0  295000000.0  270000000.0          0.0
 12           NaN          NaN          NaN -293000000.0          0.0
 13  6.000000e+08          0.0          NaN  238627000.0          0.0
 14           NaN -103502000.0  -88186000.0  -80831000.0  -91756000.0
 15 -3.086800e+07  -13758000.0  -22296000.0  -30147000.0  -21691000.0
 16  1.156132e+09 -117260000.0  184518000.0  104649000.0 -113447000.0
 17  6.082900e+07  -29512000.0      62000.0   -2814000.0    1497000.0
 18  0.000000e+00   60829000.0   31299000.0   31361000.0   27215000.0
 19  6.082900e+07   31317000.0   31361000.0   28547000.0   28712000.0
 20           NaN          NaN          NaN          NaN          NaN
 21  5.322300e+07   87870000.0  108405000.0   98893000.0  117013000.0
 22           NaN    -147000.0   -2033000.0   -1535000.0   -2145000.0
 23  5.322300e+07   87723000.0  106372000.0   97358000.0  114868000.0  ,
 'currency': 'SGD',
 'fiscal_year_end': 12,
 'income_statement':     parent_index                                        title  2012  \
 0              0                                      Revenue   NaN
 1              1                                     Expenses   0.0
 2              1                           Operating expenses   NaN
 3              1            Sales, General and administrative   NaN
 4              1                               Total expenses   0.0
 5              5                             Operating income   NaN
 6              6                              Interest income   NaN
 7              7                            Interest expenses   NaN
 8              8                       Other income (expense)   0.0
 9              9                   Income before income taxes   NaN
 10            10        Net income from continuing operations   NaN
 11            11                                   Net income   NaN
 12            12  Net income available to common shareholders   NaN
 13            13                           Earnings per share   NaN
 14            14                                        Basic   NaN
 15            15                                      Diluted   NaN
 16            16          Weighted average shares outstanding   NaN
 17            17                                        Basic   NaN
 18            18                                      Diluted   NaN
 19            19                                       EBITDA   NaN

             2013          2014          2015          2016          2017
 0   5.061200e+07  1.158900e+08  1.245880e+08  1.224940e+08  1.304790e+08
 1   2.107300e+07  3.717500e+07  2.759900e+07  2.622800e+07  2.970400e+07
 2   1.588700e+07  2.610000e+07  1.548200e+07  1.370900e+07  1.670400e+07
 3   5.186000e+06  1.107500e+07  1.211700e+07  1.251900e+07  1.300000e+07
 4   2.107300e+07  3.717500e+07  2.759900e+07  2.622800e+07  2.970400e+07
 5   2.953900e+07  7.871500e+07  9.698900e+07  9.626600e+07  1.007750e+08
 6   1.100000e+04  1.345000e+06  5.900000e+04  2.550000e+05  7.000000e+04
 7   5.947000e+06  1.472100e+07  2.111300e+07  2.519000e+07  2.578900e+07
 8   5.685900e+07  1.322900e+07  1.775000e+06 -5.391500e+07 -5.121300e+07
 9   8.046200e+07  7.856800e+07  7.771000e+07  1.741600e+07  2.384300e+07
 10  8.046200e+07  7.856800e+07  7.771000e+07  1.741600e+07  2.384300e+07
 11  8.046200e+07  7.856800e+07  7.771000e+07  1.741600e+07  2.384300e+07
 12  8.046200e+07  7.856800e+07  7.771000e+07  1.741600e+07  2.384300e+07
 13           NaN           NaN           NaN           NaN           NaN
 14  5.710000e-02  5.550000e-02  5.430000e-02  1.050000e-02  1.100000e-02
 15  5.713400e-02  5.545900e-02  5.434200e-02  1.040000e-02  1.080000e-02
 16           NaN           NaN           NaN           NaN           NaN
 17  1.407586e+09  1.415873e+09  1.430005e+09  1.661149e+09  1.800290e+09
 18  1.407586e+09  1.415873e+09  1.430016e+09  1.661174e+09  1.800316e+09
 19  8.640900e+07  9.328900e+07  9.882300e+07  4.389800e+07  5.548800e+07  ,
 'period_range': PeriodIndex(['2012', '2013', '2014', '2015', '2016', '2017'], dtype='period[A-DEC]', freq='A-DEC')}

In [68]:
raw = fddic.get('period_range')

In [69]:
raw

PeriodIndex(['2013', '2014', '2015', '2016', '2017', '2018'], dtype='period[A-MAR]', freq='A-MAR')

In [61]:
is_keep_list = ['Revenue', 'Total expenses', 'Operating income',
            'Interest expenses', 'Other income (expense)',
            'Income before income taxes','Provision for income taxes',
            'Net income','Earnings per share',
             'Weighted average shares outstanding',
             'Diluted']

In [ ]:
cf_keep_list = []

In [62]:
income_statement = raw[raw.title.isin(is_keep_list)]
# cash_flow = raw[raw.title.isin(is_keep_list)]
cash_flow = raw
balance_sheet =

In [60]:
print(income_statement)
print(cash_flow)
print(balance_sheet)

Empty DataFrame
Columns: [parent_index, title, 2013, 2014, 2015, 2016, 2017, 2018]
Index: []